

.input-group__container {
    display: flex;
    flex-direction: column;
    .input-group__input {
        background-color: $white;
        border: 2px solid $terciary-color;
        border-radius: 0.25rem;
        font-size: $font-size-sm;
        padding: 0.25rem;
        &.error {
            outline: 2px solid $error-color;
        }
    }
    &.input-group__checkbox {
        flex-direction: row-reverse;
        justify-content: start;
        .input-group__input {
            width: fit-content;
        }
    }
    .input-group__text-error {
        font-size: $font-size-sm;
        color: $error-color;
    }
}