
.modal__overlay {
    align-items: center;
    background-color: $background-overlay;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    .modal__container {
        background-color: $white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        height: 30rem;
        overflow-y: auto;
        width: 50rem;
        .modal__header {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .modal__close {
                background-color: $terciary-color;
                border: none;
                border-radius: 0.25rem;
                color: $white;
                margin: 1rem
            }
        }
        &:focus {
            outline: unset;
        }
        .modal__footer {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .modal__btn-buy {
                background-color: darken($color:$terciary-color, $amount: 20);
                border: none;
                border-radius: 0.25rem;
                color: $white;
                margin: 1rem;
                padding: 0.5rem;
            }
        }
    }
}