
// Colors
$primary-color: #e15e6e;
$secondary-color: #c3e6d4;
$terciary-color: #e0c4ae;

$background-color: #f4f0e5;

$primary-hover: #e1918e;
$secondary-hover: #a1d3b9;
$terciary-hover: #e4b28d;

$typography-color: #4a4a4a;
$typography-link-hover: #456655;

// Typography sizes
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$navbar-height: 4.5rem